@font-face {
	font-family: 'Instagram';
	src: local('☺'), url('../fonts/Instagram.ttf') format('truetype');
}

body{
    background: #e3d0e2;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

header{
    background-image: linear-gradient(to right, #95d1f1, #8cd0d9, #95d1f1);
}

header{
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
}

h1{
    font-family: Instagram;
    font-size: 85px;
    color: honeydew;
    text-align: center;
    margin:0;
    display: block;
}

h2{
    font-size: 50px;
    color: honeydew;
    margin:0;
    display: block;
}

p{
    font-family: cursive;
}

.main{
    max-width: 1000px;
	background-image: linear-gradient(to right, #e0e0e0, #e3e6ea, #e1edf2, #dff5f4, #e5fcf0);
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 35px;
	min-width: 320px;;
}
/*_____NAVIGATION_____*/

.container
{  
    max-width: 1200px;
    width: 100%;
    
}
.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;    
}

.logButt{
    background-color: #e3d0e2;
}

.logButt, .signButt{
    border: 1px solid #e3d0e2;
    border-radius: 4px;
    color: #fff;
    position: relative;
    inline-size: 83px;
}

/*_____LOGIN_____*/



.loginForm{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #8cd0d9;
    border-radius: 16%;
    padding: 64px;
    margin-top: 14%;
    min-height: 300px;
    max-width: 283px;
}



/*_____ACCOUNT_____*/

#edProfile{
    display: grid;
    background: #f0f0f0;
    width: 400px;
    margin: 0 auto;
}

#edProfile h1{
    background: #3399cc;
    padding: 20px 0;
    margin: initial;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#edProfile a{  
    background: pink;
    padding: 20px 10px;
    font-size: 140%;
    margin: 1;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    color: #3399cc;
}

#edProfile a:hover{
    background: lightblue;
}

/*_____CAMERA_____*/

#video{
    border: 24px solid lightgreen;
    display: block;
    margin: auto;
}

#snap{
    border: 2px solid pink;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 50%;
    margin-left: 50%;
}


canvas{
    border: 24px solid lightgreen;
    display: block;
    margin: auto;
}