@font-face {
	font-family: 'Instagram';
	src: local('☺'), url('../fonts/Instagram.ttf') format('truetype');
}
@font-face {
	font-family: 'gaban';
	src: local('☺'), url('../fonts/gaban.ttf') format('truetype');
}

body{
    background: #e3d0e2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    padding:0;
    height:100%;
}

header{
    background-image: linear-gradient(to right, #95d1f1, #8cd0d9, #95d1f1);
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
}

h1{
    font-family: Instagram;
    font-size: 60px;
    color: white;
    text-align: center;
    margin:0;
}

h2{
    font-size: 50px;
    text-shadow: 4px 2px 1px #e3d0e2;
    color: #94d0ef;
    margin: 0;
    display: block;
    border-radius: 10px;
    text-align: center;
}

h3{
    font-size: xx-large;
    font-family: gaban;
}

p{
    text-align: center;
    font-size:18px;
	color: white;
}

a{
	text-decoration: none;
}

input[type="submit"]{
	cursor: pointer;
}

input[type="button"]{
	cursor : pointer;
}

.main{
    max-width: 1000px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    
}

.background{
    background-image: linear-gradient(to bottom, #dff5f4, #e1edf2, #e5fcf0);
    border-radius: 47px;
}

.galleryB{
    background-image: linear-gradient(to bottom, rgba(223,245,244,0.4), rgba(229,252,240,0.7)), url(../icons/quadrillage.png);
}

@media screen and (max-width: 1000px) {
    .main {width:100%;}
    #background{border-radius: 0}
}

input::placeholder{
    color: #94d0ef;
    font-size:20px;
    padding:10px;
}

#footer {
    position:fixed;
    bottom:0;
    height: 40px;
    background-image: linear-gradient(to right, #95d1f1, #8cd0d9, #95d1f1);
    opacity: 0.7;
    width:100%;
    
}

@media screen and (max-width: 400px){
    
}

/*--------------------------------------------------------HEADER---------------------------------------------------------------*/


.container
{  
    max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

@media screen and (max-width: 400px)
{
    .container {margin: 3px}
    .container #Cam_logo {display: none}
    .container a {width:100%}	
}

.container a
{
    color: #FFF;
    font: 20px Raleway;
    padding: 10px 10px;
    position: relative;
    z-index: 0;   
    width: 50px;
}

.logButt{
    background-color: #e3d0e2;
}

.logButt, .signButt{
    border: 1px solid #e3d0e2;
    border-radius: 4px;
    inline-size: 83px;
}

/*--------------------------------------------------------GALLERY--------------------------------------------------------------*/

#title{
    text-align: center;
    margin-bottom: -6px;
    padding-top: 16px;
    font-size:78px;
}

#photoDisplay{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 0px 25px 0px;
}

#photoDisplay #img{
    cursor : pointer;
	align-items: center;
	text-align:center;
	margin: 20px;
	background-color: rgba(232,233,243, 0.7);
	height: 260px;
	width: 270px;
	vertical-align: middle;
	padding-top: 10px;
	float: left;
}

#img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.pagination {
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    margin: 25px 0px 60px 0px;
}

#number{
    width: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin: 2px 5px 2px 5px;
    color: #95d0f2;
    background-image: linear-gradient(to bottom, #dff5f4, #e1edf2, #e5fcf0);
}
.pagination #number:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 400px){

}

/*--------------------------------------------------------LOGIN---------------------------------------------------------------*/



.loginForm{
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top, #dff5f4, #e1edf2, #e5fcf0);
    border-radius: 15px;
    box-shadow: 0px 0px 1.1em #e3d0e2, 0.2em 0 0.5em #8ed0e1;
    padding: 1px;
    min-width: 300px;
}
.loginForm #title2{
    margin-bottom: 20px;
    padding-top: 20px;
}

.loginForm input, #camera #upload button{
    width: 65%;
    height: 40px;
    font-size: 20px;
    font-family: Cambria;
    color: #4bb7ec;
    padding: 3px;
    border-radius: 12px;
    border: 1.25px solid #e3d0e2;
    margin: 17px;
}

.loginForm input[type="submit"], #camera #upload button{
    background-color: #94d1ef;
    width: 31%;
    height: 50px;
    font-size: 25px;
    color: white;
    border: 2px solid #e3d0e2;
}

.loginForm input[type="submit"]:hover, #camera #upload button:hover{
    opacity: 0.6;
    background-color: #6ef5af;
    border:3px solid #94d1ef; 
} 

.loginForm form p{
    color: #EFB4E4;
    font-size: 20px;
    margin-top: 25px;
    text-shadow: 1px 1px 0px white;
}

.loginForm form p a{
    color:#4BB7EC;
}

.loginForm p{
    color: #4BB7EC;
    font-size: 20px;
    text-shadow: 1px 1px 0px white;
}
.loginForm p a{
    color:#EFB4E4;
}
 #actMsg{
    color:red;
    margin-bottom: -20px;
    margin-top: 20px;
}

 .loginForm form span{
    display: block;
    color: #4BB7EC; 
    font-weight: bold;
}


/*--------------------------------------------------------ACCOUNT---------------------------------------------------------------*/

#test{
    display: flex;
    flex-direction: column;    
    padding: 1em;
}

#account{
	flex: 1 1 auto;
    display: flex;
}

#account nav a{
    background-image: linear-gradient(to right top, #e1edf2, #dff5f4, #e5fcf0);
    box-shadow: 0px 0px 0.15em #6cf1ac, 0.15em 0 0.25em #67e8a600;
    padding: 20px;
    font-size: 19px;
    margin: 11px 35px -6px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    color: #95d0f2;
}

#account nav #EdPro{
    box-shadow: -3px 1px 0.15em #6cf1ac, 0.15em 0 0.25em #67e8a600;
}
#account nav #EdPwd{
    box-shadow: -3px 1px 0.15em #4bb7ec, 0.15em 0 0.25em #67e8a600;
}
#account nav #DelPho{
    box-shadow: -3px 1px 0.15em #bac, 0.15em 0 0.25em #67e8a600;
}
#account nav #DelAcc{
    box-shadow: -3px 1px 0.15em #c992ff, 0.15em 0 0.25em #67e8a600;
}
#account nav #Notif{
    box-shadow: -3px 1px 0.15em #efb4e4, 0.15em 0 0.25em #67e8a600;
}

#account article {
    flex: 1;
}

#account nav {
    order: -1;
}

@media (max-width: 640px) {
    #account {flex-direction: column;}
}

#account nav {
  width: 250px;
  margin-right:25px;
}
#account nav,
#account article {
  flex-basis: auto;
}
#account nav {
  order: 0;
}
#account nav {
    display: grid;
    background: rgba(229,252,240,0.5);
    height: 376px;
    margin: 13px 6px 0px 9px;
    border-radius: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 65px 65px 65px 65px;
    grid-row-gap: 8px;
}

#account article {
    height: 549px;
    background: rgba(229,252,240,0.4);
    margin: 14px 1px -3px 6px;
    border-radius: 26px;
}

#account nav a:hover{
    background-image: radial-gradient(circle, #6ef5af, #6cf1ac, #69eca9, #67e8a6, #65e4a3);
    color: white;
}

#subTitle{
    text-shadow: 4px 2px 1px #69eca9;
    color: #c4f2da;
    margin-top: 20px;
}

#saveBtt{
    border: 3px solid #c4f2da;     
    background-color:  #6ef5af;
}
.accountForm{
    width:82%;
    background-image: linear-gradient(to top, #94d1ef26, #95d1f199, #94d1ef);
    border-radius: 15px;
    box-shadow: 0px 0px 1.1em #95d1f1, 0.2em 0 0.5em #efb4e4;
    padding: 1px;
}

/********************************Notifications*************************************/

#notiflabel {
    border: 2px solid #67e8a6;
    padding: 25px;
    margin: 0 0 10px;
    background: #c4f2da;
    border-radius: 20px;
}
   
#notiflabel:hover {
    background:#67e8a6;
    border: 2px solid #c4f2da;
    color: white;
    cursor:pointer;
}
#pNot{
    display: -webkit-inline-box;
    text-shadow: none;
    color: #4bb7ec;
}
#pNot:hover{
    color:white;
}

#checkbox{
    width: -webkit-fill-available;
    height: 16px;
    margin: 93px 20px 20px 20px;
}

/********************************Delete Photos*************************************/

#deletePhotos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3px 0px 0px 9px;
    overflow-x: hidden;
    height: 369px;
    width: 616px;
}

#deletePhotos #img{
    height: 151px;
    width: 199px;
    vertical-align: middle;
    border-radius: 74px;
    float: left;
}

#deletePhotos #img img{
    width: 197px;
    height: 110px;
    object-fit: scale-down;
}

#check_del{
    cursor: pointer;
    width: fit-content;
    margin-top: -4px;
}

/*--------------------------------------------------------CAMERA---------------------------------------------------------------*/

#camera {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 25px;
	text-align:middle;
}


#camera #video_div {
    margin-top: 50px;
    margin-bottom: 20px;
	background-color:#c4f2da;
	padding: 10px;
	width: 70%;
	float:left;
	position : relative;
	height: 42vw;
	max-height: 420px;
	min-width: 285px;
	min-height:236px;
}

#camera #live_video {
    width: 100%;
	height: 100%;
    z-index: 1;
    position: absolute;
}

#overlay{
    height: 50%;
    width: 40%;
}

#camera #video_div #video {
	width: 100%;
	z-index:0;
}
#camera #video_div #camera_img {
	width:100%;
	z-index:0;
	object-fit: cover;
	display:none;
	height:inherit;
	max-height: 420px;
	min-width: 315px;
    min-height: 236px;
}
/********************************Upload Picture*************************************/

#camera form {
    height: 40px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    min-width: 200px;
}

#camera #upload label{
    border: 2px solid #94d0ef7d;
    background: #e3d0e2;
    width: 21%;
    height: 32px;
    text-align: center;
    padding: 3px 3px 3px 3px;
    padding-top: 11px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-family: Cambria;
    font-size: 22px;
    color: white;
}
#camera #upload label:hover{
    transform: scale(1.1);
}

#camera #upload  #uploadBtt{
    margin-top:0px;
    width:21%;
    display: none;
}
/********************************Stickers*************************************/

#camera #sticker_div{
	background-color: #c4f2da;
	width: 25%;
    max-height: 440px;
    min-height: 236px;
	margin-top: 50px;
	float: right;
	overflow-y: auto;
}
#camera #sticker_div img{
    width: 50%;
	margin-left: 44px;
	margin-top: 15px;
	cursor: pointer;
}
.stickerImg{
    background: rgb(148, 209, 237);
    border: 3px solid #e3d0e2;
    border-radius: 20px;
}

.stickerImg:hover, .active{
    opacity: 0.8;
    background: #e1eef2;
    border: 3px solid #94d1ef;
}
.active{
    opacity:1;
}
    
#snap{
    border: 2px solid #c4f2da;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 34%;
    margin-left: 33%;
    margin-bottom: 20px;
}
/********************************Camera Gallery*************************************/

#camera #camera_gallery {
	margin-top: 1px;
    padding: 10px 0px 0px 10px;
    background-color: #c4f2da;
	border: 3px solid#c4f2da;
	overflow-y:hidden;
	overflow-x:auto;
	width: 97%;
	white-space: nowrap;
	min-height: 120px;
}

#camera #camera_gallery #photo {
	width: 20%;
	padding: 2px;	
	min-width: 150px
}

#text-camera{
    text-align:center;
    font-size:18px;
    color: #4bb7ec;
    margin-bottom: auto;
}


@media screen and (max-width: 660px) {
	#camera #sticker_div {width: 100%;height:auto;float: none; min-height: 70px;overflow-y: hidden;
		overflow-x: auto;white-space: nowrap; float:none}
	#camera #video_div {margin-bottom:20px; width: 94%; height: inherit; margin-right: auto; margin-left:auto; float:none}
	#camera #sticker_div img {width:20%;}
	#camera {width: 100%}
	#camera #camera_gallery {width: 95%; margin-right: auto; margin-left:auto}
    #camera .stickerImg {height: 95%; width: auto}
    
}